mat-list-item {
    height: 100%;
}

p {
    margin: 0px;
}

img {
    width: 100px;
    margin-left: 20px
}

h2 {
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
}

h3 {
    font-size: 14px;
    word-wrap: normal;
}

mat-card {
    margin: 20px
    /* width: 100%; */
}

.healthLabels {
    font-size: 10px;
    /* display: inline; */
}

mat-progress-spinner {
    text-align: center;
}